body {
    font-family: 'Georgia', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: #1F2937;
}

.header-links {
    display: flex;
    list-style: none;
    gap: 30px;
    margin-right: 200px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    text-align: center;
    margin-left: 200px;
}

a, .title-subtext {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.content {
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    background: #1F2937;
    justify-content: space-between;
    padding: 50px 0;
}

.left {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    max-width: 405px;
}

.right {
    display: flex;
    margin-right: 200px;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

/* .trees {
    width: 300px;
    height: auto;
    border-radius: 10px;
} */

.img-placeholder {
    display: flex;
    color: #F9FAF8;
    background-color: darkgray;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.top-button {
    color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 5px;
    margin: 10px 0;
    padding: 5px;
    border: 0;
    max-width: 100px;
}

.middle-1 {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.randoms {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.random-information {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #1F2937;
    padding-bottom: 30px;
}

.random {
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: center;
    gap: 5px;
}

.empty {
    border: solid #3882F6;
    border-radius: 10px;
    padding: 80px;
}

.text-under {
    color: #1F2937; 
    text-align: center;
}

.middle-2 {
    padding: 70px;
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    margin-left: 230px;
    margin-right: 230px;
    text-align: left;
    font-style: italic;
}

 .author {
    text-align: right;
    margin-right: 230px;
} 